[submodule "youtu-agent"]
	path = youtu-agent
	url = https://github.com/TencentCloudADP/youtu-agent.git
[submodule "qduoj"]
	path = qduoj
	url = https://github.com/QingdaoU/OnlineJudgeDeploy.git
[submodule "fps-problems"]
	path = fps-problems
	url = https://github.com/zhblue/freeproblemset.git
