[submodule "youtu-agent"]
	path = youtu-agent
	url = https://github.com/guancyxx/youtu-agent.git
[submodule "qduoj"]
	path = qduoj
	url = https://github.com/guancyxx/OnlineJudgeDeploy.git
[submodule "fps-problems"]
	path = fps-problems
	url = https://github.com/guancyxx/freeproblemset.git
